.square
  padding-bottom: 33.33333%
  float: left
  position: relative
  min-height: 340px
  > label
    cursor: pointer
    position: absolute
    background: $color-border
    border-color: $color-input-border
    border-width: 1em
    border-style: solid
    border-radius: 2em
    width: 90%
    margin: 0 auto
    left: 0
    right: 0
    height: 90%
    span
      display: block
      text-align: center
    .main
      font-size: 12em
      line-height: 1em
    .secondary
      font-size: 2em
  input:checked ~ label
    background: white
    border-color: $color-primary
    color: $color-secondary
.step-nav
  margin-bottom: 20px
  button
    width: 100%
.ng-hide
  transition: all 0.5s ease
.step-wrapper
  -webkit-transition: 1s linear all
  transition: 1s linear all
  opacity: 1
  height: auto
  overflow: hidden
  h3
    text-align: center
  &.hidden_step
    opacity: 0
    height: 0
    -webkit-transition: 1.5s linear all
    transition: 1.5s linear all
  /* remember to add this */
.form-horizontal
  .control-label
    max-height: 2em
    overflow: visible
#taxcode
  text-transform: uppercase
.blacklist
  .products-wrapper
    margin-bottom: 20px
  input.checkbox:empty
    margin-left: -999px
  input.checkbox
    & ~ label
      text-indent: 3em
      border-radius: 3px
      border: 1px solid #D1D3D4
      line-height: 2.5em
      margin-bottom: 0
      width: 100%
    &:empty
      ~ label
        position: relative
        float: left
        cursor: pointer
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        padding-right: 1em
        &:before
          position: absolute
          display: block
          top: 0
          bottom: 0
          left: 0
          content: ''
          width: 2.5em
          background: $color-primary
          border-radius: 3px 0 0 3px
    &:hover:not(:checked) ~ label
      &:before
        text-indent: .9em
        color: #C2C2C2
    &:checked ~ label
      color: #777
      &:before
        content: '\2717'
        text-indent: .9em
        color: white
        background-color: red

    &:focus ~ label:before
      box-shadow: 0 0 0 3px #999
.transfer-wrapper, .paypal-wrapper
  background-image: url("img/bg.png")
  background-repeat: repeat
  border: 1px solid $color-border
  height: 250px
  padding-top: 20px
  h4
    margin-bottom: 10px
  table
    border: none
    width: 100%
#payment-step
  margin-bottom: 20px
#subscription_loginform
  input, label
    display: block
  input
    padding: 6px
    border-radius: 3px
    border: 1px solid rgb(204, 204, 204)
  .login-username, .login-password
    clear: both
    display: block
    label
      float: left
      display: block
      width: 24%
      text-align: left
    input
      float: left
  .login-remember
    clear: both
    margin-left: 24%
    margin-top: 1em
    float: left
    label
      display: inline-flex
      input
        margin-right: 1em
  .login-submit
    clear: both
    input
      width: 30%
      margin-left: 24%
